In [41]:
#https://www.kaggle.io/svf/135781/d7357eabb84316523819ec44bb42e2f0/output.html
import numpy as np
import pandas as pd

#Print you can execute arbitrary python code
train = pd.read_csv("train.csv", dtype={"Age": np.float64}, )
test = pd.read_csv("test.csv", dtype={"Age": np.float64}, )

In [42]:
#feature engineering - extract surname
train['Surname'] = train.Name.apply(lambda x: x.split(',')[0])
test['Surname'] = test.Name.apply(lambda x: x.split(',')[0])

In [43]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction import DictVectorizer
# feature_names = ['Sex', 'Ticket']
# feature_names = ['Sex', 'Ticket', 'Parch']
feature_names = ['Sex', 'Ticket', 'Parch', 'Surname']

In [44]:
clf = RandomForestClassifier()
train_vectorizer = DictVectorizer(sparse=False)
X = train_vectorizer.fit_transform(train[feature_names].T.to_dict().values())
clf.fit(X, train['Survived'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [45]:
test['Survived'] = clf.predict(train_vectorizer.transform(test[feature_names].T.to_dict().values()))

In [46]:
test[['PassengerId', 'Survived']].to_csv('my_solution.csv', index=False)
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Survived
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,Kelly,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,Wilkes,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,Myles,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,Wirz,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,Hirvonen,1